[Unit]
Description=Open vSwitch vSwitch Daemon
After=ovsdb-server.service

[Service]
ExecStart=/usr/bin/docker run \
  --name openvswitch-vswitchd \
  --rm \
  --network host \
  -v /mnt/data/data/ovs/etc/openvswitch:/etc/openvswitch \
  -v /mnt/data/data/ovs/var/run/openvswitch:/var/run/openvswitch \
  -v /lib/modules:/lib/modules:ro \
  --cap-add=NET_ADMIN \
  --cap-add=NET_BIND_SERVICE \
  --cap-add=SYS_ADMIN \
  patsys/openvswitch -c ovs-vswitchd
ExecStop=/usr/bin/docker stop openvswitch-vswitchd

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

